body {
  background-image: url(./Components/image/background.jpg);
  background-size: cover;

  background-repeat: no-repeat no-repeat;
}
.body {
  position: absolute;
  width: 98vw;
  margin: auto;
}
@media screen and (max-width: 1171px) {
  body,
  html {
    background-image: url(./Components/image/markus-spiske-ij3xk7LaiCc-unsplash.jpg);
    background-size: 100%;
  }
}
